/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #e53935;
}
